        body, html {
            height: 100%;
            margin: 0;
            font-family: Kokoro, sans-serif;
        }

        .container {
            width: 100%;
            height: 100%;
            position: relative;
            background: white;
            overflow-y: auto;
            overflow-x: hidden;
        }

        /* Header / Navegação */
        .header-logo {
            width: 230px;
            height: 230px;
            left: 71.96px;
            top: 0px;
            position: absolute;
            border-radius: 64px;
        }

        .nav-item {
            height: 35px;
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .nav-text {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 24px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-decoration: none;
        }

        .nav-home {
            width: 104.36px;
            left: 427.47px;
            top: 125px;
        }

        .nav-home .nav-text {
            color: #6A09A2;
        }

        .nav-research {
            width: 122.12px;
            left: 568.46px;
            top: 125px;
        }

        .nav-research .nav-text {
            color: #52894D;
        }

        .nav-join-us {
            width: 123.23px;
            left: 1223.48px;
            top: 125px;
        }

        .nav-join-us .nav-text {
            color: #52894D;
        }

        .nav-our-team {
            width: 133.22px;
            left: 719.45px;
            top: 125px;
        }

        .nav-our-team .nav-text {
            color: #6A09A2;
        }

        .nav-awards {
            width: 108.80px;
            left: 1078.04px;
            top: 125px;
        }

        .nav-awards .nav-text {
            color: #6A09A2;
        }

        .nav-publications {
            width: 155.43px;
            left: 885.98px;
            top: 125px;
        }

        .nav-publications .nav-text {
            color: #52894D;
        }

        .header-divider {
            width: 1400px;
            height: 0px;
            left: 50px;
            top: 197px;
            position: absolute;
            outline: 2px black solid;
            outline-offset: -1px;
        }
        /* Card 1: Emmanuel */
        .card1-container {
            width: 641px;
            height: 1000px;
            left: 759px;
            top: 306px;
            position: absolute;
        }
        .card1-background {
            width: 641px;
            height: 1000px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #F5F5F5;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 35px;
            border: 1px #D9D9D9 solid;
        }
        .card1-title1 {
            width: 536px;
            height: 190px;
            left: 62px;
            top: 60px;
            position: absolute;
            color: #145278; 
            font-size: 32px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
            justify-content: center;
            text-align: center;
        }

        .card1-description1 {
            width: 570px;
            height: 190px;
            left: 45px;
            top: 540px;
            position: absolute;
            justify-content: center;
            display: flex;
            flex-direction: row;
            color: black;
            font-size: 18px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
            text-indent: 50px;
        }
        .card1-description2 {
            width: 570px;
            height: 303px;
            left: 45px;
            top: 670px;
            position: absolute;
            justify-content: center;
            display: flex;
            flex-direction: row;
            color: black;
            font-size: 18px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
            text-indent: 50px;
        }

        .card1-image {
            width: 493px;
            height: 310px;
            left: 74px;
            top: 180px;
            position: absolute;
            border-radius: 19px;
        }
        .card1-profile-img {
            width: 118.62px;
            height: 121.50px;
            left: 451px;
            top: 835px;
            position: absolute;
            border-radius: 14px;
            border: 1px #D9D9D9 solid;
        }
        .card1-box {
            width: 400px;
            height: 52px;
            left: 50px;
            top: 875px;
            position: absolute;
            background: #ECECEC;
            border: 1px #D9D9D9 solid;
        }

        /* Card 2: Raylane */
        .card2-container {
            width: 558px;
            height: 973px;
            left: 90px;
            top: 318px;
            position: absolute;
        }
        .card2-background {
            width: 558px;
            height: 973px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #FFF2FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 35px;
            border: 1px #CEC6CE solid;
        }
        .card2-title {
            width: 435px;
            height: 150px;
            left: 80px;
            top: 60px;
            position: absolute;
            color: #6A09A2;
            font-size: 32px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
            justify-content: right;
            text-align: right;
            text-indent: 100px;
        }
        .card2-description {
            width: 450.77px;
            height: 303.27px;
            left: 46.50px;
            top: 598.77px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: black;
            font-size: 18px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
        }
        .card2-image {
            width: 450.77px;
            height: 310.08px;
            left: 46.50px;
            top: 210px;
            position: absolute;
            border-radius: 19px;
        }
        .card2-profile-img {
            width: 118.62px;
            height: 121.50px;
            left: 35px;
            top: 20px;
            position: absolute;
            border-radius: 87.50px;
        }

        /* Card 3: Maria Luisa */
        .card3-container {
            width: 558px;
            height: 966px;
            left: 501px;
            top: 1350px;
            position: absolute;
        }
        .card3-background {
            width: 558px;
            height: 1082.77px; /* Note: A altura é maior que o container pai */
            left: 0px;
            top: 0px;
            position: absolute;
            background: #D6E6F0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 35px;
            border: 1px #C3CFD6 solid;
        }
        .card3-title {
            width: 375.11px;
            height: 190.11px;
            left: 140.90px;
            top: 40.53px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #423B76;
            font-size: 32px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
        }
        .card3-image {
            width: 306px;
            height: 316.53px;
            left: 126px;
            top: 262.49px;
            position: absolute;
            border-radius: 19px;
        }
        .card3-profile-img {
            width: 116.64px;
            height: 120.63px;
            left: 42.92px;
            top: 93.61px;
            position: absolute;
            border-radius: 9999px; /* Efetivamente um círculo */
        }
        .card3-description {
            width: 452.56px;
            height: 414px;
            left: 57.85px;
            top: 627.27px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: black;
            font-size: 18px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
        }
        /* Rodapé */
        .footer {
            width: 1350px;
            height: 71px;
            left: 16px;
            top: 2493px;
            position: absolute;
        }
        .footer-line {
            width: 1344px;
            height: 0px;
            left: 38px; 
            top: 2px;  
            position: absolute;
            outline: 2px black solid;
            outline-offset: -1px;
        }
        .footer-icon1 {
            width: 65px;
            height: 65px;
            left: 610px; 
            top: 13px;   
            position: absolute;
            border-radius: 64px;
        }
        .footer-copyright {
            width: 66.34px;
            height: 47px;
            left: 720px; 
            top: 18px;   
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: black;
            font-size: 12px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
        }
        .footer-icon2 {
            width: 30px;
            height: 30px;
            left: 831px; 
            top: 27px;   
            position: absolute;
        }

        /* Banner "Research in Development" */
        .research-banner-background {
            width: 460px;
            height: 54px;
            left: 50px;
            top: 227px;
            position: relative;
            background: #F5F5F5;
            border-radius: 17px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        }
        .research-banner-text {
            width: 420px;
            height: 50px;
            left: 65px;
            top: 225px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: black;
            font-size: 32px;
            font-family: Kokoro, sans-serif;
            font-weight: 400;
            word-wrap: break-word;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }