<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/awards.css">
    <title>Awards</title>
</head>
<body>
    <div class="container">
        <img class="header-logo" src="../static/img_head_foot/logo.png" alt="Logo" />

        <div class="nav-item nav-home">
            <a href="{{ url_for('home') }}" class="nav-text">Home</a>
        </div>
        <div class="nav-item nav-research">
            <a href="{{ url_for('research') }}" class="nav-text">Research</a>
        </div>
        <div class="nav-item nav-join-us">
            <a href="{{ url_for('join_us') }}" class="nav-text">Join Us</a>
        </div>
        <div class="nav-item nav-our-team">
            <a href="{{ url_for('team') }}" class="nav-text">Our Team</a>
        </div>
        <div class="nav-item nav-awards">
            <a href="{{ url_for('awards') }}" class="nav-text">Awards</a>
        </div>
        <div class="nav-item nav-publications">
            <a href="{{ url_for('publications') }}" class="nav-text">Publications</a>
        </div>

    <div class="header-divider"></div>

        <div class="award-card-bg-base award-1-bg"></div>
        <div class="award-year-text-base award-1-year">2023</div>
        <div class="award-description-text-base award-1-desc">Honorable mention - Marcos Moraes Research and Innovation Award in the category "Initiatives for Cancer Control", Cancer Foundation.</div>

        <div class="award-card-bg-base award-2-bg"></div>
        <div class="award-year-text-base award-2-year">2021</div>
        <div class="award-description-text-base award-2-desc">Best scientific initiation work for student Amanda Rondinelli at the II Scientific Meeting of the A.C. Camargo Cancer Center, A.C. Camargo Cancer Center.</div>

        <div class="award-card-bg-base award-3-bg"></div>
        <div class="award-year-text-base award-3-year">2023</div>
        <div class="award-description-text-base award-3-desc">Medical Innovation Award in the "Precision Medicine and Genomics" category, VEJA SAÚDE & Oncoclínicas.</div>
        
        <div class="award-card-bg-base award-4-bg"></div>
        <div class="award-year-text-base award-4-year">2021</div>
        <div class="award-description-text-base award-4-desc">Best postdoctoral work for Gabriela Sarti Kinker at the II Scientific Meeting of the A.C. Camargo Cancer Center, A.C. Camargo Cancer Center.</div>

        <div class="award-card-bg-base award-5-bg"></div>
        <div class="award-year-text-base award-5-year">2021</div>
        <div class="award-description-text-base award-5-desc">Nomination of the work of student Amanda Rondinelli for the 18th outstanding scientific and technological initiation award, CNPq.</div>

        <div class="award-card-bg-base award-6-bg"></div>
        <div class="award-year-text-base award-6-year">2020</div>
        <div class="award-description-text-base award-6-desc">Elected "Rising Star in Science" by FAPESP and The Royal Society (UK), FAPESP.</div>

        <div class="award-card-bg-base award-7-bg"></div>
        <div class="award-year-text-base award-7-year">2020</div>
        <div class="award-description-text-base award-7-desc">Selected by AACR as one of the top young researchers in oncology and selected to speak on "how to progress personal career development in cancer research", American Association for Cancer Research (AACR).</div>

        <div class="award-card-bg-base award-8-bg"></div>
        <div class="award-year-text-base award-8-year">2020</div>
        <div class="award-description-text-base award-8-desc">Young Researcher Project as the main highlight on the FAPESP website in July 2020, FAPESP.</div>
        
        <div class="award-card-bg-base award-9-bg"></div>
        <div class="award-year-text-base award-9-year">2020</div>
        <div class="award-description-text-base award-9-desc">Award for best presentation of the final paper by scientific initiation students (PIBIC) at A.C. Camargo Cancer Center given to student Dálete Lohannye dos Santos Barcelos, A.C. Camargo Cancer Center.</div>

        <div class="footer-section">
            <div class="footer-line"></div>
            <img class="footer-icon-1" src="../static/img_head_foot/iconeMedinaLab.png" />
            <div class="footer-copyright">© 2025 All Rights Reserved </div>
            <img class="footer-icon-2" src="../static/img_head_foot/icone_instagram.png" />
        </div>
        <div class="our-awards-banner-bg"></div>
        <div class="our-awards-banner-text">Our Awards</div>
    </div>
</body>
</html>