<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../static/home.css">
  <title>Home</title>
</head>
<body>
    <div class="container">
        <img class="header-logo" src="../static/img_head_foot/logo.png" alt="Logo" />

        <div class="nav-item nav-home">
            <a href="{{ url_for('home') }}" class="nav-text">Home</a>
        </div>
        <div class="nav-item nav-research">
            <a href="{{ url_for('research') }}" class="nav-text">Research</a>
        </div>
        <div class="nav-item nav-join-us">
            <a href="{{ url_for('join_us') }}" class="nav-text">Join Us</a>
        </div>
        <div class="nav-item nav-our-team">
            <a href="{{ url_for('team') }}" class="nav-text">Our Team</a>
        </div>
        <div class="nav-item nav-awards">
            <a href="{{ url_for('awards') }}" class="nav-text">Awards</a>
        </div>
        <div class="nav-item nav-publications">
            <a href="{{ url_for('publications') }}" class="nav-text">Publications</a>
        </div>

        <div class="header-divider"></div>

        <div class="footer-wrapper">
            <div class="footer-divider"></div>
            <img class="footer-logo" src="../static/img_head_foot/iconeMedinaLab.png" alt="Footer Logo" />
            <div class="footer-copyright">© 2025 All Rights Reserved </div>
            <img class="footer-instagram-icon" src="../static/img_head_foot/icone_instagram.png" alt="Instagram Icon" />
        </div>

        <img class="main-image" src="../static/img_home/grupo.png" alt="Main Image" />

        <div class="mission-panel"></div>
        <div class="mission-text mission-text-part3"><br/>    Rooted in a multidisciplinary environment and closely linked to graduate education, our group fosters collaboration across basic, translational, and clinical research to shape the future of cancer care.<br/></div>
        <div class="mission-text mission-text-part2">    We investigate a broad range of immunotherapeutic approaches, including immune checkpoint blockade and adoptive cell therapies such as CAR-T and tumor-infiltrating lymphocytes (TILs). Our mission is to enhance treatment precision—helping clinicians match the right therapy to the right patient, while also driving innovation to improve the therapies already in use.</div>
        <div class="mission-text mission-text-part1">    Our research group is committed to advancing precision oncology through cutting-edge immunotherapy. By integrating clinical insights with experimental research, we aim to identify biomarkers that predict treatment response and to uncover novel targets for therapeutic intervention.</div>
        
        <div class="mission-title-box"></div>
        <div class="mission-title-text">Mission</div>
        
        <div class="profile-main-panel"></div>
        <div class="profile-inner-panel"></div>
        <img class="profile-picture" src="../static/img_home/tiago.png" alt="Profile Picture" />
        
        <div class="profile-name-box"></div>
        <div class="profile-name-text">Tiago Medina, PhD</div>

        <div class="profile-title-group-leader">Group Leader</div>
        <div class="profile-role-translational">Translational Immune-Oncology</div>
        <div class="profile-role-assistant-prof">Assistant Professor</div>
        <div class="profile-department-info">Department of Molecular Medicine University of Southern Denmark – Odense, Denmark</div>
        
        <img class="profile-email-icon" src="../static/img_home/Email.png" alt="Email Icon" />
        <div class="profile-email-text">medina@health.sdu.dk</div>
    </div>
</body>
</html>