<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../static/join_us.css">
  <title>Join Us</title>
</head>
<body>
    <div class="container">
        <img class="header-logo" src="../static/img_head_foot/logo.png" alt="Logo" />

        <div class="nav-item nav-home">
            <a href="{{ url_for('home') }}" class="nav-text">Home</a>
        </div>
        <div class="nav-item nav-research">
            <a href="{{ url_for('research') }}" class="nav-text">Research</a>
        </div>
        <div class="nav-item nav-join-us">
            <a href="{{ url_for('join_us') }}" class="nav-text">Join Us</a>
        </div>
        <div class="nav-item nav-our-team">
            <a href="{{ url_for('team') }}" class="nav-text">Our Team</a>
        </div>
        <div class="nav-item nav-awards">
            <a href="{{ url_for('awards') }}" class="nav-text">Awards</a>
        </div>
        <div class="nav-item nav-publications">
            <a href="{{ url_for('publications') }}" class="nav-text">Publications</a>
        </div>

        <div class="header-divider"></div>

        <div class="box-1"></div>
        <div class="text-1"> For more information, please contact us by email: </div>
        <div class="text-2"> medina@health.sdu.dk</div>

        <div class="footer">
            <div class="footer-line"></div>
            <img class="footer-icon1" src="../static/img_head_foot/iconeMedinaLab.png" />
            <div class="footer-copyright">© 2025 All Rights Reserved </div>
            <img class="footer-icon2" src="../static/img_head_foot/icone_instagram.png" />
        </div>
    </div>
</body>
</html>