<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/publi.css">
    <title>Publications</title>
</head>
<body>
    <div class="container">
        <img class="header-logo" src="../static/img_head_foot/logo.png" alt="Logo" />

        <div class="nav-item nav-home">
            <a href="{{ url_for('home') }}" class="nav-text">Home</a>
        </div>
        <div class="nav-item nav-research">
            <a href="{{ url_for('research') }}" class="nav-text">Research</a>
        </div>
        <div class="nav-item nav-join-us">
            <a href="{{ url_for('join_us') }}" class="nav-text">Join Us</a>
        </div>
        <div class="nav-item nav-our-team">
            <a href="{{ url_for('team') }}" class="nav-text">Our Team</a>
        </div>
        <div class="nav-item nav-awards">
            <a href="{{ url_for('awards') }}" class="nav-text">Awards</a>
        </div>
        <div class="nav-item nav-publications">
            <a href="{{ url_for('publications') }}" class="nav-text">Publications</a>
        </div>

    <div class="header-divider"></div>

        <div class="article-box article-box-1"></div>
        <div class="article-box article-box-2"></div>
        <div class="article-box article-box-3"></div>

        <div class="published-articles-banner-bg"></div>
        <div class="published-articles-banner-text">Published Articles</div>

        <div class="footer-section">
            <div class="footer-line"></div>
            <img class="footer-icon-1" src="../static/img_head_foot/iconeMedinaLab.png" />
            <div class="footer-copyright">© 2025 All Rights Reserved </div>
            <img class="footer-icon-2" src="../static/img_head_foot/icone_instagram.png" />
        </div>
        <div class="citation-text citation-1">Carvalho MLR, Andrade CO, Cabral-Piccin MP, Kinker GS, Vitiello GAF, Cambui RAG, et al. Targeting PRC2 Enhances the Cytotoxic Capacity of Anti-CD19 CAR-T Cells Against Hematological Malignancies. Cancer Research. 2025.</div>
        <div class="citation-text citation-2">Sarti Kinker G, Da Silva Medina T. Tertiary lymphoid structures as hubs of antitumour immunity. Nat Rev Cancer. 2023 Dec;23(12):803–803.</div>
        <div class="citation-text citation-3">Kinker GS, Vitiello GAF, Diniz AB, Cabral-Piccin MP, Pereira PHB, Carvalho MLR, et al. Mature tertiary lymphoid structures are key niches of tumour-specific immune responses in pancreatic ductal adenocarcinomas. Gut. 2023 Oct;72(10):1927–41.</div>
    </div>
</body>
</html>